{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5 mt-4">
            <div class="card  mt-5" style="box-shadow: 2px 2px 5px grey; border: none; background-color: #225A34; color: white ">
                <div class="card-body mb-3 mr-3 ml-3">
                    <img src="" alt="">
                    <h2 class="text-center">LOGIN HERE</h2>
                   <hr>
                   
                    <form action="" method="post" novalidate>
                            
                        {% csrf_token%}
                        {{ form|crispy}}
                        <br>
                        <a href=""> <button type="submit" class="btn btn-success btn-sm D-block mx-auto"> LOGIN</button>
                        </a>
                        <br><br>
                        <p style="">Don't have an account? <a href="{% url 'signup' %}">Register Here</a></p>
                
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}