{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5" style="margin-top: ;">
            <div class="card" style="box-shadow: 2px 2px 5px grey; background-color: #225A34; color: white">
                <div class="card-body mb-3 mr-3 ml-3 mt-6" style="width:100%">
                    <form action="" method="post" novalidate style="width:100%">
                        <h3 class="text-center">REGISTER HERE</h3>
                        <hr>
                        {% csrf_token%}
                        {{ form|crispy}}
                        <br>
                        <button type="submit" class="btn btn-success btn-sm">REGISTER</button>
                    </form>
                    <hr>
                    <p style="float: right;">Have an account? <a href="{% url 'login' %}">Login Here</a></p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    {% endblock %}